<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- <link rel="stylesheet" href="sexa.css"> -->
  <title>Media Mindset</title>
</head>

<body>
  <section id="home">
    <div class="hero">
      <div class="hero-text">
        <h1><span>Growing Your Brand with,</span><br>
          Media Mindset's Digital Marketing Solutions
          <p>Media Mindset is your one-stop shop for digital marketing solutions.
            With our expertise and knowledge, we help you build your brand and drive growth with targeted online
            marketing strategies.
            Our team of experienced professionals will customize a plan that meets your business needs and goals.
            Discover how Media Mindset can help you maximize your brand's potential with our digital marketing
            solutions.</p>
        </h1>
      </div>
    </div>
  </section>
  <main>
    <div class="about" id="about">
      <div>
        <h2 class="title">
          Get to Know me
        </h2>
        <div class="about-main">
          <div>

          </div>
          <div class="about-text">
            <h3>Media Mindset: <br>Professional Digital Marketing Solutions</h3>
            <p>Media Mindset helps businesses of all sizes reach their target audience through digital marketing.
              Our comprehensive services range from website design and optimization to SEO and social media marketing.
              We have the expertise to deliver effective and creative campaigns that result in more leads and
              conversions for our customers.
              Let Media Mindset help you reach your goals today!</p>
            <div style="margin-top:40px">
              <span class="w3-text-white social">
                <p>Follow Me on Social media</p>
                <div class="w3-margin-top">
                  <a href="#"> <i class="fa fa-facebook-official w3-hover-opacity icons"></i></a>
                  <a href="#"><i class="fa fa-instagram w3-hover-opacity icons"></i></a>
                  <a href="#"><i class="fa fa-snapchat w3-hover-opacity icons"></i></a>
                  <a href="#"><i class="fa fa-pinterest-p w3-hover-opacity icons"></i></a>
                  <a href="#"><i class="fa fa-twitter w3-hover-opacity icons"></i></a>
                  <a href="#"><i class="fa fa-linkedin w3-hover-opacity icons"></i></a>
                </div>
              </span>
            </div>

          </div>

        </div>
      </div>

    </div>
    <div class="service" id="service">
      <h2 class="title">Our Services</h2>

      <div class="card">
        <div class="card-list">
          <div class="card-image">
            <img src="./assets/8.jpg" alt="Photo by Anastase Maragos | Unsplash" />
          </div>
          <div class="card-text">
            <h4>Search Engine Optimization (SEO)</h4>
            <!-- <p>A service to optimize web pages and content for higher rankings on search engine result pages.</p> -->
            <a routerLink="/seo-component" routerLinkActive="active" ariaCurrentWhenActive="page">
              <button class="w3-btn w3-orange w3-margin-top w3-round" style="width:100%">Know more</button>
            </a>
          </div>
        </div>
        <div class="card-list">
          <div class="card-image">
            <img src="./assets/2.png" alt="Photo by Sergio Pedemonte | Unsplash" />
          </div>
          <div class="card-text">
            <h4>Social Media Management</h4>
            <!-- <p>A service to manage and monitor social media channels such as Facebook, Twitter, Instagram and YouTube to build relationships with customers and boost brand awareness.</p> -->
            <a routerLink="/smm-component" routerLinkActive="active" ariaCurrentWhenActive="page">
              <button class="w3-btn w3-orange w3-margin-top w3-round" style="width:100%">Know more</button>
            </a>
          </div>

        </div>
        <div class="card-list">
          <div class="card-image">
            <img src="./assets/6.jpg" alt="Photo by Spencer Davis | Unsplash" />
          </div>
          <div class="card-text">
            <h4>Content Creation</h4>
            <!-- <p>We provide you the content like visual,graphic and animated,etc. Which you can use any where you want like social media or on your website.</p> -->
            <a routerLink="/cc-component" routerLinkActive="active" ariaCurrentWhenActive="page">
              <button class="w3-btn w3-orange w3-margin-top w3-round" style="width:100%">Know more</button>
            </a>

          </div>

        </div>
      </div>
    </div>

    <div class="testimony" id="testimony">
      <h2 class="title">Our Clients</h2>


      <div class="testimony-main">
        <div>

        </div>
        <div class="testimony-image">
          <img src="./assets/11.jpg" alt="Photo by Scott Webb | Unsplash" />
        </div>
        <div class="testimony-text">
          <h3>Lily Patil</h3>
          <p style="font-style: italic;">
            "I was very impressed with the quality of the work, as well as the professionalism and timeliness of your
            team.
            I was particularly impressed with the way you were able to take my ideas and turn them into a finished
            product that exceeded my expectations.
            You were always willing to listen to my feedback and make changes as needed.
            You also went above and beyond to ensure that the project was completed on time and within budget.
            Thank you again for your outstanding work."
          </p>
        </div>
      </div>
    </div>
    <div class="contact" id="contact">
      <h2 class="title">Contact Media Mindset to Start Your Digital Marketing</h2>
      <div class="contact-main">

        <div class="contact-form">
          <form>
            <div class="name">
              <input class="input name-list" type="text" placeholder="First Name*">
              <input class="input name-list" type="text" placeholder="Last Name*">
            </div>
            <input id="email" class="input" type="text" placeholder="Email*">
            <textarea id="email" class="input" minlength="100" placeholder="Your Message*" required></textarea>
            <button class="w3-btn w3-orange w3-round">Send</button>
          </form>
        </div>


        <div class="contact-image">
          <img src="./assets/10.jpg" alt="Photo by Bruce Mars | Unsplash" />

        </div>
      </div>
    </div>



  </main>

  <script>
    function myFunction() {
      var x = document.getElementById("navDemo");
      if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
      } else { 
        x.className = x.className.replace(" w3-show", "");
      }
    }
  </script>
</body>

</html>
<div><router-outlet></router-outlet></div>